<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
papa
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="CRM_DB" connectionString="Data Source=servidonss.dyndns.org,20002;Initial Catalog=CRM_asp; User ID=usrCRM_asp; Password=T1lc4r42395" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
